<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}
   <select name="selectedcountry">
   {% for country in con_list %}

       <option>{{ country }}</option>
   {% endfor %}

   </select>
   <input type="submit" name="">

</form>
<h1>{{ selectedcountry }}</h1>

<p>new: {{ new }}</p>
<p>active: {{ active }}</p>
<p>critical: {{ critical }}</p>
<p>recovered: {{ recovered }}</p>
<p>1M_pop: {{ M_pop }}</p>
<p>total: {{ total }}</p>
<p>deaths: {{ deaths }}</p>


</body>
</html>